@import "tailwindcss";

/* Força a cor do texto para branco em campos de input com autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #ffffff !important;
    background-color: transparent !important; /* Força o fundo transparente */
    transition: background-color 50000s ease-in-out 0s; /* Truque para manter o background transparente */
}
